<form onsubmit="return addMessage(this)">

    <input type="email" id="email" placeholder="Su email" class="form-control"><br>
    <input type="text" id="nombre" placeholder="Su nombre" class="form-control"><br>
    <input type="text" id="apellido" placeholder="Su apellido" class="form-control"><br>
    <input type="number" id="edad" placeholder="Su edad" class="form-control"><br>
    <input type="text" id="alias" placeholder="Su alias" class="form-control"><br>
    <input type="text" id="avatar" placeholder="URL de su avatar" class="form-control"><br>

    <hr>
    <div id="messages"></div>
    <br>
    <input type="text" id="message" placeholder="Su mensaje" >
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>
<hr>