<form onsubmit="return addProduct(this)">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre: </label>
    <input type="text" id="title" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio: </label>
    <input type="number" step=".01" id="price" class="form-control" />
  </div>

  <div class="mb-3">
    <label for="url" class="form-label">url imagen: </label>
    <input type="url" id="url" class="form-control"/>
  </div>

  <input type="submit" value="Enviar" class="btn btn-success"/>
</form>